<nav class="navbar">
  <ul>
    <li class="nav-left">Members Only</li>
    <div class="nav-right">
      <li><a href="/">Home</a></li>
      <li><a href="/create-message">Create Message</a></li>
      <li><a href="/join-club">Join Club</a></li>
      <li><a href="/logout">Logout</a></li>
    </div>
  </ul>
</nav>
