<body>
  <%- include("partials/navbar.ejs") %> <%- include("partials/errors.ejs") %>
  <form method="POST" action="/admin">
    <div>
      <label for="admin">Admin Password </label>
      <input type="text" name="admin" id="admin" />
    </div>
    <input type="submit" value="Submit" />
  </form>
</body>
