<body>
  <form method="POST" action="/join-club">
    <div>
      <label for="member">Membership Password </label>
      <input type="text" name="member" id="member" />
    </div>
    <input type="submit" value="Submit" />
  </form>
</body>
