/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS */

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 45px;
  margin-bottom: 25px;
  border-bottom: 1px solid #657786;
  width: 100%;
  font-size: 1.2rem;
  color: white;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 1.3rem;
  width: 100%;
  padding-right: 40px;
}

.nav-right {
  display: flex;
  margin-left: auto;
  gap: 25px;
}

.nav-right > li > a {
  color: white;
}

.nav-right > li > a:hover {
  cursor: pointer;
  color: rgb(187, 187, 187);
}

.nav-left > a {
  color: white;
}

.nav-left > a:hover {
  cursor: pointer;
  color: rgb(187, 187, 187);
}

.login {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.login > h1 {
  text-align: center;
}

.single-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  margin-bottom: 100px;
}

.login-error {
  text-align: center;
  color: red;
}

.single-form > div {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.single-form > div > input {
  background-color: black;
  border: 1px solid #657786;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
}

.single-form > div > input:focus {
  background-color: black;
  color: white;
}

.single-form > div > textarea {
  background-color: black;
  border: 1px solid #657786;
  border-radius: 5px;
  color: white;
  padding: 5px;
  height: 100px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
  border: 1px solid #657786;
}

.single-form > div > a {
  text-align: center;
  font-size: 1.2rem;
}

.single-form > input[type="submit"] {
  background-color: black;
  border: 1px solid #657786;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: transform;
  width: 50%;
  margin: 0 auto;
}

.single-form > input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card-container {
  width: 100%;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  border: solid 1px #657786;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card > a {
  color: white;
}

.card > a:hover {
  color: rgb(204, 203, 203);
}

.single-center {
  text-align: center;
  margin-bottom: 15px;
}

.single {
  margin-top: 5rem;
}

.signup-error {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.signup-error > li {
  color: red;
  text-align: center;
}
